{% if messages %}
  <div class="container" id="messages">
    <div class="mt-2">
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          </div>
        {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
