{% extends "base.html" %}
{% load tags %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated%}
{% if request.user.groups.first|is_admin%}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem; background-color: #2e2e2d; color: white;">
            <img src="https://res.cloudinary.com/dllkbvnu7/image/upload/b_rgb:fff9f9,fl_aavif,o_100/v1673627322/media/users_jyrr5b.png" alt="Image Loading" class="card-img-top">
            <div class="card-body">
              <a class="btn btn-outline-light"  href="{% url 'auction_users' %}">Users</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem; background-color: #2e2e2d; color: white;">
            <img src="https://res.cloudinary.com/dllkbvnu7/image/upload/v1673629128/media/prod_vosefk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{%url 'products'%}" class="btn btn-outline-light">Products</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;background-color: #2e2e2d; color: white;">
            <img src="https://res.cloudinary.com/dllkbvnu7/image/upload/b_rgb:ede9e9,c_crop,h_512,r_30,y_0/v1673629701/media/bid_lgzh6i.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a class="btn btn-outline-light"  href="{%url 'auctions'%}">
                Auctions
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% elif request.user.groups.first|is_buyer%}
{% if not auctions %}
    <div class="row">
      {% include 'shared.html' %}
      <div class="col-lg-10">
        <h1 class="text-center mt-3">No Auctions Ongoing in the selected Category!!</h1>
      </div>
    </div>
{% else %}
    <div class="container-fluid mt-3">
      <div class="row">
        {% include 'shared.html' %}
        <div id="products" class="col-lg-8">
          <div class="row mx-auto mt-3">
          {% for auction in auctions %}
            {% if auction.status|is_approved %}
            <div class="card mx-auto mb-3" id="{{ auction.id }}" style="width: 18rem; background-color: #2e2e2d; color: white;">
              <div id="carouselExample_{{auction.id}}" class="carousel slide">
                <div class="carousel-inner box">
                  <div class="carousel-item active mt-2 container">
                    <img src="{{auction.product.image_set.first.image.url}}" class="d-block w-100 carousel_img" alt="...">
                  </div>
                  {% for image in auction.product.image_set.all %}
                  <div class="carousel-item container mt-2">
                    <img src="{{image.image.url}}" class="card-img-top mt-3 carousel_img" alt=""  />
                  </div>
                  {% empty %}
                    <!-- no entries -->
                  {% endfor %}
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample_{{auction.id}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample_{{auction.id}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ auction.product.title }}</h5>
                <p class="card-text">
                  <b>Starting Bid:{{ auction.product.starting_price }}</b>
                </p>
                <p>Created by: <strong>{{ auction.product.auctionuser }}</strong></p>
              </div>
              <a href="{% url 'auction_detail' auction.id %}" class="text-center mb-3"><button class="btn btn-outline-light">View Auction</button></a>
            </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endif %}
{% else %}
    <div class="text-center">
      <h3 class="mt-3">Login to View Products and start bidding.</h3>
      <img src="https://res.cloudinary.com/dllkbvnu7/image/upload/v1673006498/media/auction_frontpage_xlh8ht.png" alt="Image Loading" style="width: 60vw;">
    </div>
{% endif %}

{% endblock %}
