{% load tags %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">AuctionApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated%}
        {% if request.user.groups.first|is_buyer %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'purchased_products'%}">
             Purchased Products
          </a>
        </li>
        {% endif %}
        {% if request.user.groups.first|is_seller %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'product_create'%}">
            Create Product
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'auction_create'%}">
            Create Auction
          </a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="/">{{ request.user.email }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="/">{{ request.user.groups.first }}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
