{% extends 'base.html' %}
{% block content %}
{% load tags %}
{% for auctionuser in auctionuser_list %}
    {% for colname in auctionuser.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        {% if auctionuser_list|is_length_zero %}
            <h1 class="text-center">No users yet.</h1>
        {% else %}
            <h1 class="text-center">All Users</h1>
            <table class="table table-dark table-striped mt-5 table-hover">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">S#No</th>
                        <th class="text-center" scope="col">Username</th>
                        <th class="text-center" scope="col">Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for auctionuser in auctionuser_list %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td class="text-center">{{auctionuser.username}}</td>
                        <td class="text-center"><b>{{auctionuser.email}}</b></td>
                    <td><a href="{% url 'auction_user_delete' auctionuser.id %}"><button class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                    {% if request.user.groups.first|is_admin %}

                    {% if auctionuser.groups.first|is_admin %}
                    <td></td>
                    {% else %}
                    <td><a href="{% url 'make_admin' auctionuser.id %}"><button class="btn btn-success btn-sm">Make Admin</button></a></td>
                    {% endif %}
                    {% endif %}

                    </tr>

                    <tr>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </div>

</div>

{% endblock content %}
