{% extends 'base.html' %}
{% load tags %}
{% block content %}
{% for auction in auction_list %}
    {% for colname in auction.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        {% if auction_list|is_length_zero %}
        <h1 class="text-center">No Auctions yet.</h1>
        {% else %}
        <h1 class="text-center">All Auctions</h1>
        <table class="table table-dark table-striped mt-5 table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">S#No</th>
                    <th class="text-center" scope="col">Picture</th>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">Category</th>
                    <th class="text-center" scope="col">Owner</th>

                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Winner</th>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for auction in auction_list %}
                <tr>
                    <td class="text-center">{{forloop.counter}}</td>
                    {% if request.user.groups.first|is_admin %}
                    <td class="text-center"><img src="{{auction.product.image_set.first.image.url}}" alt="" class="rounded-circle"
                        style="height: 50px"></td>

                    {% elif request.user.groups.first|is_seller %}
                        <td class="text-center"><a href="{%url 'auction_detail' auction.id   %}"><img src="{{auction.product.image_set.first.image.url}}" alt="" class="rounded-circle"
                            style="height: 50px"></a></td>
                    {% endif %}
                    <td class="text-center">{{auction.product.title}}</td>
                    <td class="text-center"><b>{{auction.product.category}}</b></td>
                    <td class="text-center"><b>{{auction.product.auctionuser}}</b></td>
                    <td class="text-center"><b>{{auction.get_status_display}}</b></td>
                    {% if auction.status|is_expired %}
                    <td class="text-center"><b>{{auction.product.owner}}</b></td>
                    {% else %}
                    <td class="text-center"><b>---</b></td>
                    {% endif %}
                <td><a href="{% url 'auction_delete' auction.id %}" class="btn btn-outline-danger">Delete</a></td>

                {% if auction.status|is_pending %}
                <td><a href="{% url 'auction_approve' auction.pk %}"><button class="btn btn-success btn-sm">Approve</button></a></td>
                <td><a href="{% url 'auction_decline' auction.pk %}"><button class="btn btn-danger btn-sm">Decline</button></a></td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
                </tr>
                <tr>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>

{% endblock content %}
