




{% extends 'base.html' %}
{% load tags %}
{% block content %}

<div class="container-fluid mt-3">
    <div class="row">
       {% include 'products/shared_list.html' %}
      <div id="products" class="col-lg-8">
        <div class="row mx-auto mt-3">
        {% for auction in auction_list %}
          <div class="card mx-auto mb-3" id="{{ auction.id }}" style="width: 18rem; background-color: #2e2e2d; color: white;">
            <a href="{%url 'auction_detail' auction.id   %}"><img src="{{auction.product.photo.url}}" alt="" class="card-img-top mt-3"
               ></a>

            <div class="card-body">
              <h5 class="card-title">{{auction.product.title}} | <b>{{auction.product.category}}</b></h5>
              <p class="card-text">Status: <b>{{auction.get_status_display}}</b></p>
            </div>

            <div class="row mb-2 text-center">
                <div class="col">
                    <a href="{%url 'bids' auction.id   %}"><button class="btn btn-outline-light">Bids</button> </a>
                </div>
            </div>
           </div>
           {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
