{% extends 'base.html' %}
{% load tags %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

      {% if product_list|is_length_zero %}
        <h1 class="text-center">No Products yet.</h1>
      {% endif %}

      {% if request.user.groups.first|is_seller %}
      {% include 'products/shared_list.html' %}
      <div id="products" class="col-lg-8">
      {% else %}
      <div id="products" class="col-lg-12">
      {% endif %}
        <div class="row mx-auto mt-3">
         {% for product in product_list %}
         {% if request.user.groups.first|is_admin or request.user.email|is_owner:product.auctionuser.email %}
          <div class="card mx-auto mb-3" id="{{ product.id }}" style="width: 18rem; background-color: #2e2e2d; color: white;">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active mt-2">
                  <img src="{{product.image_set.first.image.url}}" class="d-block w-100" alt="...">
                </div>
                {% for image in product.image_set.all %}
                <div class="carousel-item">
                  <img src="{{image.image.url}}" class="card-img-top mt-3" alt="" />
                </div>
                {% empty %}
                  <!-- no entries -->
                {% endfor %}
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.title}} | {{product.category}}</h5>
              <p class="card-text">
                <b>Starting Bid:{{ product.starting_price }}</b>
              </p>
              <p>Created by: <strong>{{ product.auctionuser }}</strong></p>
            </div>
            <div class="row mb-2 text-center">
                <div class="col-6">
                    {% if request.user.groups.first|is_seller %}
                        <a href="{% url 'product_update' product.id %} "><button class="btn btn-outline-light">Update</button></a>
                    {% endif %}
                </div>
                <div class="col-6">
                    <a href="{% url 'product_delete' product.id %}"> <button class="btn btn-outline-light">Delete</button></a>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <h3>{{product.get_status_display}}</h3>
            </div>
           </div>
           {% endif %}
           {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
