{% extends "base.html" %}

{% block content %}

{% load crispy_forms_filters %} {% load crispy_forms_tags %}
<div class="container d-flex justify-content-center mt-5" style="width: 25%;">
    <div class="col mt-5">
        <form action="" method="post"  enctype="multipart/form-data" id="myUniqueUploadId">
            {% csrf_token %}
            <table class="table">
                {{form|crispy}}
                <div id="div_id_images">
                     <label>
                         Upload Images*
                     </label>
                     <label class="mt-2">
                         <input name="photo" type="file" class="form-control" accept="image/*" multiple aria-label="Choose File" required >
                     </label>
                 </div>
            </table>

            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'products' %}'; return false;" value="Cancel">
            </div>
        </form>
    </div>
</div>
{% endblock %}
