{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">More About the Product</h1>
        <div class="d-flex justify-content-center mt-5">
            <div>
                <img src="{{product.image_set.first.image.url}}" alt="" class="rounded-circle" style="height: 25vw;"alt="">
            </div>


            <div class="card" >
                <div class="card-header">
                  <h2>{{product.title}}</h2>
                </div>
                <div class="card-body">

                  <h3 class="card-title">Owner: {{product.auctionuser}}</h3>
                  <h3><strong>Starting Price: {{product.starting_price}}</strong></h3>
                  <h3 class="card-text">Summary:{{product.description}}
                  </h3>
                  <a href="{% url 'products' %}" class="btn btn-success btn-sm my-5">BACK</a>
                </div>
              </div>
        </div>
        <div class="d-flex justify-content-center">

        </div>
    </div>
</div>

{% endblock  %}
